.education{
    padding: 20px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    background: #f2f2f5;
}

.education-block{
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.education-block h3{
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054;
}

.education-block h4{
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 2px 0;
}

.education-block h5{
    font-size: 1.0em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.education-block span{
    color: #74808a;
    float: right;
}
h3 {
    display: block;
    font-size: 1.7em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.education-block p{
    margin: 0;
    color: #74808a;
    font-size: 1em;
}