.navbar a{
    display: block;
    padding: 10px;
    color: #ccced3;
    font-size: 1.2em;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 768px){
    .navbar{
        position: fixed;
        display: none;
        height: 100%;
    }
}